{% extends "::base.html.twig" %}

{% block title %}Collectify Sheet List{% endblock %}

{% block body %}
    <h1>Sheet List</h1>
    {{ app.session.get("machin") }}
    {{ app.session.flashbag.get("machin")[0] }}
    {% include "FrontBundle:Includes:Default/body.html.twig" %}

    <a href="/web/app_dev.php/sheet/create">Create sheet</a>
    <ul>
        {% for sheet in sheets %}
            <li>
                    {{ sheet.name }}
                    <a href="/web/app_dev.php/sheet/{{ sheet.id }}">View</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block footer %}
    {% include "FrontBundle:Includes:Default/footer.html.twig" %}
{% endblock %}